#about {
  height: calc(100vh - 4rem);
  width: 100vw;
  /* max-width: 70rem; */
  margin: 0 auto;
  overflow: hidden;
  background: rgb(10, 10, 10);
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutImgDiv {
  max-width: 44rem;
  padding-right: 2.5rem;
}
.aboutImg {
  object-fit: cover;
  /* max-width: 44rem; */
  max-height: 26rem;
}
.aboutContent {
  height: 100vh;
  weight: 100vw;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 50rem;
}
.aboutTitle {
  margin: 1rem 0;
  font-size: 2.5rem;
}
.aboutPara {
  font-size: medium;
  font-weight: 300;
  letter-spacing: 1px;
  width: 30rem;
}
.resume {
  font-size: large;
  font-weight: 300;
}
.dexter {
  color: #7ed957;
  text-decoration: none;
  border-bottom: 1px solid #7ed957;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  font-weight: 300;
}
.resumeDiv {
  display: flex;
  align-items: center;
}
.btn {
  background: white;
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}
.btnImg {
  object-fit: cover;
  margin: 0 0.25rem;
  height: 1rem;
}
