#stacks {
  height: calc(100vh - 4rem);
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
  background: rgb(10, 10, 10);
  flex-direction: column;
}
.stacksContent {
  max-width: 75rem;
  margin: 2rem auto;
  text-align: center;
}
.stacksTitle {
  font-size: 2.5rem;
}
.stacksIcon {
  max-width: 76rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.stacksIcon > i {
  padding: 15px;
  margin: 15px 35px;
  border: 2px solid #7ed957;
  border-radius: 50%;
  font-size: 30px;
  color: #7ed957;
  cursor: pointer;
}
